{% extends 'fillow/elements/layouts/admin.html' %}
{% load static %}
        
{% block additional_css %}
{% endblock %}
        
{% block content %}
<!--**********************************
	Content body start
***********************************-->
<div class="content-body default-height">
	<div class="container-fluid">
		
		
		<div class="row page-titles">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active"><a href="javascript:void(0)">내 정보</a></li>
			</ol>
		</div>
		<!-- row -->
		<div class="row">
			<div class="col-lg-12">
				<div class="profile card card-body px-3 pt-3 pb-0">
					<div class="profile-head">
						<div class="photo-content">
							<div class="cover-photo rounded"></div>
						</div>
						<div class="profile-info">
							<div class="profile-photo">
								{% if img %}
									<img src="/media/{{img}}" class="img-fluid rounded-circle" alt="">
								{% else %}
									<img src="{% static 'fillow/images/profile/profile_basic.jpeg' %}" class="img-fluid rounded-circle" alt="">
								{% endif %}
							</div>	
							<div class="profile-details">
								<div class="profile-name px-3 pt-2">
									<h4 class="text-primary mb-0">{{request.user.last_name}}{{request.user.first_name}}</h4>
									<p>{{dept}}</p>
								</div>
								<div class="profile-email px-2 pt-2">
									<h4 class="text-muted mb-0">{{request.user.email}}</h4>
									<p>Email</p>
								</div>
								{% comment %} <div class="dropdown ms-auto">
									<a href="#" class="btn btn-primary light sharp" data-bs-toggle="dropdown" aria-expanded="true"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg></a>
									<ul class="dropdown-menu dropdown-menu-end">
										<li class="dropdown-item"><a href="javascript:void(0);"><i class="fa fa-user-circle text-primary me-2"></i> View profile</a></li>
										<li class="dropdown-item"><a href="javascript:void(0);"><i class="fa fa-users text-primary me-2"></i> Add to btn-close friends</a></li>
										<li class="dropdown-item"><a href="javascript:void(0);"><i class="fa fa-plus text-primary me-2"></i> Add to group</a></li>
										<li class="dropdown-item"><a href="javascript:void(0);" class="text-danger"><i class="fa fa-ban text-danger me-2"></i> Block</a></li>
									</ul>
								</div> {% endcomment %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-12">
				<div class="card h-auto">
					<div class="card-body">
						<div class="profile-tab">
							<div class="custom-tab-1">
								<ul class="nav nav-tabs">
									<li class="nav-item"><a href="#about-me" data-bs-toggle="tab" class="nav-link active show">About Me</a>
									</li>
									<li class="nav-item"><a href="#profile-settings" data-bs-toggle="tab" class="nav-link">Setting</a>
									</li>
								</ul>
								<div class="tab-content">
									<div id="about-me" class="tab-pane fade active show">
										<div class="profile-about-me">
											<div class="pt-4 border-bottom-1 pb-3">
												<h4 class="text-primary">자기소개</h4>
												{% if introduce %}
													<p class="mb-2">{{introduce}}</p>
												{% else %}
													<p class="mb-2">반갑습니다!</p>
												{% endif %}
											</div>
										</div>
										{% comment %} <div class="profile-skills mb-5">
											<h4 class="text-primary mb-2">Skills</h4>
											<a href="javascript:void(0);" class="btn btn-primary light btn-xs mb-1">Admin</a>
											<a href="javascript:void(0);" class="btn btn-primary light btn-xs mb-1">Dashboard</a>
											<a href="javascript:void(0);" class="btn btn-primary light btn-xs mb-1">Photoshop</a>
											<a href="javascript:void(0);" class="btn btn-primary light btn-xs mb-1">Bootstrap</a>
											<a href="javascript:void(0);" class="btn btn-primary light btn-xs mb-1">Responsive</a>
											<a href="javascript:void(0);" class="btn btn-primary light btn-xs mb-1">Crypto</a>
										</div> {% endcomment %}
										{% comment %} <div class="profile-lang  mb-5">
											<h4 class="text-primary mb-2">Language</h4>
											<a href="javascript:void(0);" class="text-muted pe-3 f-s-16"><i class="flag-icon flag-icon-us"></i> English</a> 
											<a href="javascript:void(0);" class="text-muted pe-3 f-s-16"><i class="flag-icon flag-icon-fr"></i> French</a>
											<a href="javascript:void(0);" class="text-muted pe-3 f-s-16"><i class="flag-icon flag-icon-bd"></i> Bangla</a>
										</div> {% endcomment %}
										<div class="profile-personal-info">
											<h4 class="text-primary mb-4">내 정보</h4>
											<div class="row mb-2">
												<div class="col-sm-3 col-5">
													<h5 class="f-w-500">이름<span class="pull-end">:</span>
													</h5>
												</div>
												<div class="col-sm-9 col-7"><span>{{request.user.last_name}}{{request.user.first_name}}</span>
												</div>
											</div>
											<div class="row mb-2">
												<div class="col-sm-3 col-5">
													<h5 class="f-w-500">이메일<span class="pull-end">:</span>
													</h5>
												</div>
												<div class="col-sm-9 col-7"><span>{{request.user.email}}</span>
												</div>
											</div>
											<div class="row mb-2">
												<div class="col-sm-3 col-5">
													<h5 class="f-w-500">부서<span class="pull-end">:</span>
													</h5>
												</div>
												<div class="col-sm-9 col-7"><span>{{dept}}</span>
												</div>
											</div>
											<div class="row mb-2">
												<div class="col-sm-3 col-5">
													<h5 class="f-w-500">휴대전화<span class="pull-end">:</span>
													</h5>
												</div>
												<div class="col-sm-9 col-7"><span>{{phone}}</span>
												</div>
											</div>
										</div>
									</div>
									<div id="profile-settings" class="tab-pane fade">
										<div class="pt-3">
											<div class="settings-form">
												<h4 class="text-primary">내 정보 수정</h4>
												<br>
												<form method="POST" enctype="multipart/form-data">
													{% csrf_token %}
													<div class="mb-3">
														<label for="formFile" class="form-label">프로필 사진 등록</label>
														<input class="form-control" type="file" id="formFile-upload" name="image" accept="image/jpg,image/png,image/jpeg">
													</div>
													<button class="btn btn-primary" id="btn-upload" type="submit" name="btn-post" value="img">등록</button>
												</form>
												
												<!-- Modal start-->
												<div class="modal fade" id="submitModal" tabindex="-1" aria-labelledby="submitModalLabel" aria-hidden="true">
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title" id="submitModalLabel">선택된 파일이 없습니다.</h5>
																<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
															</div>
															<div class="modal-body">
																<p>파일을 선택해주세요.</p>
															</div>
															<div class="modal-footer">
																<button type="submit" class="btn btn-secondary" data-bs-dismiss="modal" style="color:red">닫기</button>
															</div>
														</div>
													</div>
												</div>
												<!--Modal end-->
												<br>
												<form method="POST" action="">
													{% csrf_token %}
													<div class="row">
														<div class="mb-3">
															<label class="form-label">성</label>
															<input type="text" class="form-control bg-transparent" value="{{request.user.last_name}}" name="last_name">
														</div>
														<div class="mb-3">
															<label class="form-label">이름</label>
															<input type="text" class="form-control bg-transparent" value="{{request.user.first_name}}" name="first_name">
														</div>
														<div class="mb-3">
															<label class="form-label">이메일</label>
															<input type="text" class="form-control bg-transparent" value="{{request.user.email}}" name="email">
														</div>
														<div class="mb-3">
															<label class="form-label">부서</label>
															<input type="text" class="form-control bg-transparent" value="{{dept}}" name="dept">
														</div>
														<div class="mb-3">
															<label class="form-label">휴대전화</label>
															<input type="text" class="form-control bg-transparent" value="{{phone}}" name="phone">
														</div>
														<div class="mb-3">
															<label class="form-label">자기소개</label>
															<textarea class="form-control" rows="8" name="about" id="about">{{introduce}}</textarea>
														</div>
													</div>
													<button class="btn btn-primary" type="submit" name="btn-post" value="edit">수정하기</button>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Modal -->
							<div class="modal fade" id="replyModal">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Post Reply</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
										</div>
										<div class="modal-body">
											<form>
												<textarea class="form-control" rows="4">Message</textarea>
											</form>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-primary">Reply</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--**********************************
	Content body end
***********************************-->
<script src="{% static 'fillow/vendor/jquery/jquery.min.js' %}"></script>
<script>
    document.getElementById('btn-upload').addEventListener('click', function(e) {
        var fileInput = document.getElementById('formFile-upload');
        if (fileInput.files.length === 0) {
            e.preventDefault();
            $('#submitModal').modal('show');
        }
    });
</script>


{% endblock %}