<!DOCTYPE html>
<html lang="kr">

<head>
	{% load static custom_tags %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="DexignLab" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ dz_array.public.description }}" />
	<meta property="og:title" content="{{ dz_array.public.og_title }}" />
	<meta property="og:description" content="{{ dz_array.public.og_description }}" />
	<meta property="og:image" content="{{ dz_array.public.og_image }}" />
	<meta name="format-detection" content="telephone=no">


	<!-- PAGE TITLE HERE -->
	<title>{{ dz_array.public.title }}</title>
	
	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="{% static dz_array.public.favicon  %}" />
	{% for cssurl in dz_array.pagelevel.fillow.fillow_views.css|getdata:request.path %}
	<link rel="stylesheet" href="{% static cssurl %}" >
	{% endfor %}
	{% for cssurl in dz_array.global.css %}
	<link rel="stylesheet" href="{% static cssurl %}">
	{% endfor %}
	{% block additional_css %}
	<style>
		[data-theme-version=dark] .logo-auth {
			content: url("{% static 'fillow/images/logofull_dark.svg' %}")
		}
	
		.logo-auth {
			width: 20vh;
		}

		.errorlist {
			color: red;
		}
	</style>
	{% endblock %}
	
</head>

<body>
	<div class="fix-wrapper">
	    <div class="container">
	 	    <div class="row justify-content-center">
	 	 	    <div class="col-lg-5 col-md-6">
	 	 		    <div class="card mb-0 h-auto">
						<div class="card-header">
							<a class="nav-link bell dz-theme-mode" href="javascript:void(0);">
								<i id="icon-light" class="fas fa-sun"></i>
								<i id="icon-dark" class="fas fa-moon"></i>
							</a>
						</div>
	 				    <div class="card-body">
	 					    <div class="text-center mb-3">
	 						    <a href="{% url 'fillow:index' %}"><img class="logo-auth" src="{% static 'fillow/images/logofull.svg' %}" alt=""></a>
	 					    </div>
	 					    <h4 class="text-center mb-4">비밀번호 초기화</h4>
							<p class="text-center">가입하셨을 때 사용한 이메일을 입력해주세요</p>
							<form method="post">
								{% csrf_token %}
								{% if error %}
									<ul class="errorlist">
										<li>{{ error }}</li>
									</ul>
								{% endif %}
								{% for field in form %}
									<div class="form-group">
										{{ field.errors }}
										{{ field }}
									</div>
								{% endfor %}
								<div class="row">
									<div class="col-lg-6">
										<button type="submit" class="btn btn-primary btn-block">이메일 전송</button>
									</div>
									<div class="col-lg-6">
										<button id="back" class="btn btn-danger btn-block">뒤로</button>
									</div>
								</div>
							</form>
	 				    </div>
	 			    </div>
	 		    </div>
	 	    </div>
	    </div>
    </div>


<!--**********************************
	Scripts
***********************************-->
<!-- Required vendors -->
{% for jsurl in dz_array.global.js.top %}
<script src="{% static jsurl %}"></script>
{% endfor %}

{% for jsurl in dz_array.pagelevel.fillow.fillow_views.js|getdata:request.path %}
<script src="{% static jsurl %}"></script>
{% endfor %}

{% for jsurl in dz_array.global.js.bottom %}
<script src="{% static jsurl %}"></script>
{% endfor %}

{% block additional_js %}
<script>
	document.getElementById('back').addEventListener('click', function() {
		event.preventDefault();
		window.location.href = "{% url 'fillow:page-login' %}";
	});
</script>
{% endblock %}
</body>
</html>