<!DOCTYPE html>
<html lang="kr">

<head>
	{% load static custom_tags %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="DexignLab" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ dz_array.public.description }}" />
	<meta property="og:title" content="{{ dz_array.public.og_title }}" />
	<meta property="og:description" content="{{ dz_array.public.og_description }}" />
	<meta property="og:image" content="{{ dz_array.public.og_image }}" />
	<meta name="format-detection" content="telephone=no">


	<!-- PAGE TITLE HERE -->
	<title>{{ dz_array.public.title }}</title>
	
	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="{% static dz_array.public.favicon  %}" />
	{% for cssurl in dz_array.pagelevel.fillow.fillow_views.css|getdata:request.path %}
	<link rel="stylesheet" href="{% static cssurl %}" >
	{% endfor %}
	{% for cssurl in dz_array.global.css %}
	<link rel="stylesheet" href="{% static cssurl %}">
	{% endfor %}
	{% block additional_css %}
	<style>
		.reg-form input[type="text"],
    	.reg-form input[type="email"],
    	.reg-form input[type="password"],
    	.reg-form textarea {
        margin-bottom: 10px;
    }

	[data-theme-version=dark] .logo-auth {
		content: url("{% static 'fillow/images/logofull_dark.svg' %}")
	}

	.logo-auth {
		width: 20vh;
	}

	#valid,
	#invalid {
		display: none;
	}
	</style>
	{% endblock %}
</head>

<body>
	<div class="fix-wrapper">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-5 col-md-6">
					<div class="card mb-0 h-auto">
						<div class="card-header">
							<a class="nav-link bell dz-theme-mode" href="javascript:void(0);">
								<i id="icon-light" class="fas fa-sun"></i>
								<i id="icon-dark" class="fas fa-moon"></i>
							</a>
						</div>
						<div class="card-body">
							<div class="text-center mb-3">
								<a href="{% url 'fillow:home' %}"><img class="logo-auth" src="{% static 'fillow/images/logofull.svg' %}" alt=""></a>
							</div>
							<h4 class="text-center mb-4">회원가입</h4>
							<form action="" method="POST">
								{% csrf_token %}
								{{ user_form.username.label_tag }}
								{{ user_form.username }}
								<div class="row mb-2">
									<div class="col-lg-4 text-lg-left">
										<button id="username" type="button" class="btn btn-primary btn-sm">중복 확인</button>
									</div>
								</div>
								<p id="message"></p>
								{{ user_form.last_name.label_tag }}
								{{ user_form.last_name }}
								{{ user_form.first_name.label_tag }}
								{{ user_form.first_name }}
								{{ user_form.password1.label_tag }}
								{{ user_form.password1 }}
								{{ user_form.password2.label_tag }}
								{{ user_form.password2 }}
								{% if errors %}
									<ul>
										{% for field, error in errors.items %}
											{% for message in error %}
												<li style="color:red">{{ message }}</li>
											{% endfor %}
										{% endfor %}
									</ul>
								{% endif %}
								<ul>
									<li id="same"><i class="fa-solid fa-check" id="valid"></i><i class="fa-solid fa-xmark" id="invalid"></i>비밀번호와 확인란이 같아야 합니다.</li>
								</ul>
								{{ user_form.email.label_tag }}
								{{ user_form.email }}
								{% if msg %}
									<p style="color:red">{{ msg }}</p>
								{% endif %}
								{{ additional_form }}
								<br>
								<div class="text-center">
									<button id="submit" type="submit" class="btn btn-primary btn-block">회원가입</button>
								</div>
							</form>
							<div class="new-account mt-3">
								<p>계정이 있으신가요? <a class="text-primary" href="{% url 'fillow:page-login' %}">로그인하기</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<!--**********************************
	Scripts
***********************************-->
<!-- Required vendors -->
{% for jsurl in dz_array.global.js.top %}
<script src="{% static jsurl %}"></script>
{% endfor %}

{% for jsurl in dz_array.pagelevel.fillow.fillow_views.js|getdata:request.path %}
<script src="{% static jsurl %}"></script>
{% endfor %}

{% for jsurl in dz_array.global.js.bottom %}
<script src="{% static jsurl %}"></script>
{% endfor %}

{% block additional_js %}
<script src="../static/fillow/js/plugins-init/register.js"></script>
{% endblock %}
</body>
</html>