{% extends 'fillow/elements/layouts/admin.html' %}
{% load static %}
{% block additional_css %}
<style>
    [data-theme-version=dark] .swal2-title {
        color: #FFFFFF;
    }
</style>
{% endblock %}

{% block content %}
<!--**********************************
    Content body start
***********************************-->
<div class="content-body default-height">
    <!-- row -->
    <div class="container-fluid">
        <div class="row page-titles">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">고객 센터</li>
				<li class="breadcrumb-item active">Q&A</li>
			</ol>
		</div>
        <div class="row">
            <div class="col-xl-12">
                <div class="filter cm-content-box box-primary">
                    <div class="content-title SlideToolHeader">
                        <div class="cpa">
                            <i class="fa-sharp fa-solid fa-filter me-2"></i>검색
                        </div>
                        <div class="tools">
                            <a href="javascript:void(0);" class="expand handle"><i class="fal fa-angle-down"></i></a>
                        </div>
                    </div>
                    <div class="cm-content-body form excerpt">
                        <div class="card-body">
                            <form method="GET" action="">
                                <div class="row d-flex">
                                {% for field in form %}
                                    <div class="col-xl-3 col-sm-6 mb-3 mb-xl-0 align-items-center">
                                        <p>{{field.label}}{{ field }}</p>
                                    </div>
                                {% endfor %}
                                    <div class="col-xl-3 col-sm-6 align-self-end">
                                        <div>
                                            <button class="btn btn-primary me-2" title="검색" type="submit" name="btn-search" value="search"><i class="fa-solid fa-magnifying-glass"></i> 검색</button>
                                            <button class="btn btn-danger light" title="초기화" type="submit" name="btn-search" value="reset">초기화</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4 d-block">
            <div class="card-header d-flex justify-content-between align-items-center flex-wrap">
                <div>
                    <h4 class="card-title">묻고 답하기</h4>
                    <!-- <p class="m-0 subtitle">서브타이틀</p> -->
                </div>
                
                <div>
                    <a href="{% url 'fillow:qna' %}" class="btn btn-primary btn-rounded" data-bs-toggle="modal" data-bs-target="#postModal">문의하기</a>
                </div>
                <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="postModal" data-bs-backdrop="static" data-bs-keyboard="false">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">문의하기</h5>
                                <!--<button type="button" class="btn-close" data-bs-dismiss="modal"></button>-->
                            </div>
                            <form acton="{% url 'fillow:qna' %}" method="post">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="basic-form">
                                        <div class="mb-3">
                                            <label class="form-label">제목</label>
                                            <input type="text" class="form-control" name="title1" id="title1">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">내용</label>
                                            <textarea class="form-control" rows="8" name="question" id="question"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-danger light" id="closeModal" name="btn_action" value="close">닫기</button>
                                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" id="post" name="btn_action" value="post">게시</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div class="card-body">
                <!-- 문의 글 리스트 -->
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>제목</th>
                                <th>상태</th>
                                <th>최종 수정 날짜</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for qna in Qnas %}
                                <tr>
                                    <td><a href="{% url 'fillow:qna-details' qna.id %}">{{qna.title}}</a></td>
                                    <td>{% if qna.answer %}
                                            답변 완료
                                        {% else %}
                                            답변 대기중
                                        {% endif %}</td>
                                    <td>{{qna.edit_date}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="d-flex align-items-center justify-content-center flex-wrap">
                        <div class="ms-auto">
                            <p class="mb-2 me-3">{{Qnas.paginator.num_pages}}페이지 중 {{Qnas.number}}번째</p>
                        </div>
                        <nav aria-label="Page navigation example mb-2">
                            <ul class="pagination mb-2 mb-sm-0">
                                <li class="page-item"><a class="page-link" href="?title={{title}}&status={{status}}&page=1">첫 페이지</a></li>
                                    {% if Qnas.has_previous %}
                                        <li class="page-item"><a class="page-link" href="?title={{title}}&status={{status}}&page={{ Qnas.previous_page_number }}"><i class="fa-solid fa-angle-left"></i></a></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="#"><i class="fa-solid fa-angle-left"></i></a></li>
                                    {% endif %}
                                    <li class="page-item"><a class="page-link" href="?title={{title}}&status={{status}}" style="font-weight:bold">{{Qnas.number}}</a></li>
                                    {% if Qnas.has_next %}
                                        <li class="page-item"><a class="page-link" href="?title={{title}}&status={{status}}&page={{ Qnas.next_page_number }}"><i class="fa-solid fa-angle-right"></i></a></li>
                                    {% else %}
                                    <li class="page-item"><a class="page-link" href="#"><i class="fa-solid fa-angle-right"></i></a></li>
                                    {% endif %}
                                <li class="page-item"><a class="page-link " href="?title={{title}}&status={{status}}&page={{ Qnas.paginator.num_pages }}">마지막 페이지</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--**********************************
    Content body end
***********************************-->
<style>
    [data-theme-version=dark] .swal2-title {
        color: #FFFFFF;
    }
</style>
{% endblock %}