{% extends 'fillow/elements/layouts/admin.html' %}
{% load static %}
{% block additional_css %}
{% endblock additional_css %}

{% block content %}
<div class="content-body default-height">
	<div class="container-fluid">
		<div class="row page-titles">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">고객 센터</li>
				<li class="breadcrumb-item active"><a href="{% url 'fillow:qna' %}">Q&A</a></li>
                <li class="breadcrumb-item active">{{qna.title}}</li>
			</ol>
		</div>
        <div class="card mb-4 d-block">
            <div>
                <div>
                    <h3 class="card-title">{{qna.title}}</h3>
                </div>
                <hr>
                <div class="card-body">
                    <h3>내용 : {{qna.question}}</h3>
                    {% if not qna.answer %}
                        <div class="col-12">
                            <a href='{% url "fillow:qna-details2" qna.id %}' style="color:white" class="btn btn-primary mb-2">수정하기</a>
                            <form action="" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-danger light btn-sl-sm" type="submit" name="btn-act" value="delete">삭제하기</button>
                            </form>
                        </div>
                    {% else %}
                    {% endif %}
                </div>
                </div>
                <div class="card-body">
                    <h3>답변 : {{qna.answer}}</h3>
                    {% if request.user.is_staff %}
                        <a href='{% url "fillow:qna-details2" qna.id %}' style="color:white" class="btn btn-primary mb-2">답변하기</a>
                    {% else %}
                    {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}