{% extends 'fillow/elements/layouts/admin.html' %}
{% load static %}
{% block additional_css %}
<style>
    .content {
        font-size: 16px;
    }

    #edit {
        margin-right: 3px;
    }
</style>
{% endblock additional_css %}

{% block content %}
<div class="content-body default-height">
	<div class="container-fluid">
		<div class="row page-titles">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">고객 센터</li>
				<li class="breadcrumb-item active"><a href="{% url 'fillow:qna' %}">Q&A</a></li>
                <li class="breadcrumb-item active">{{qna.title}}</li>
			</ol>
		</div>
        <div class="card mb-4 d-block">
            <div>
                <div class="card-header">
                    <h3 class="card-title">{{qna.title}}</h3>
                </div>
                <div class="card-body">
                    <p class="content">{{qna.question}}</p>
                    {% if qna.answer %}
                        <hr>
                        <p class="content">{{qna.answer}}</p>
                    {% endif %}
                </div>
                {% if not qna.answer %}
                    <div class="card-footer">
                        <button id="edit" style="color:white" class="btn btn-primary">수정하기</a>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit" name="btn-act" value="delete">삭제하기</button>
                        </form>
                        {% if request.user.is_staff %}
                            <button id="answer" style="color:white" class="btn btn-primary">답변하기</a>
                        {% endif %}
                    </div>
                        
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block additional_js %}
<script>
    document.getElementById('edit').addEventListener('click', function() {
		window.location.href = '{% url "fillow:qna-details2" qna.id %}';
	});

    {% if request.user.is_staff %}
        document.getElementById('answer').addEventListener('click', function() {
            window.location.href = '{% url "fillow:qna-details2" qna.id %}';
        });
    {% endif %}
</script>
{% endblock %}