{% extends 'fillow/elements/layouts/admin.html' %}
{% load static %}

{% block additional_css %}
<style>
	.category {
		color: #fff !important;
	}

	.rounded-cat {
		border-radius: 10%;
		color: #fff;
		width: 45px;
		height: 38px;
		font-size: 10px;
	}

	.read {
		opacity: 30%;
	}

	#cat1, .결재승인 {
		background-color: #fc2e53;
	}

	#cat2, .휴가{
		background-color: #ffbf00;
	}

	#cat3, .진행업무 {
		background-color: #09bd3c;
	}

	#cat4, .회의 {
		background-color: #128a7e;
	}

	#cat5, .보고{
		background-color: #369fc2;
	}

	#cat6, .스크랩 {
		background-color: #ffa7d7;
	}

	#cat7, .공지 {
		background-color: #6238fc;
	}

	#cat8, .감사인사 {
		background-color: #d653c1;
	}

	#cat9, .기타 {
		background-color: #c8c8c8;
	}
</style>
{% endblock %}
{% block content %}

<div class="content-body default-height">

  <div class="container-fluid">
	<div class="row page-titles">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javascript:void(0)">이메일</a></li>
			<li class="breadcrumb-item active"><a href="javascript:void(0)">받은 이메일</a></li>
		</ol>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-xl-3">
							<div class="email-left-body email-left-box ">
								<div class="mb-3 mt-4 mt-sm-0">
									<div class="p-0 row">
										<div class="col-lg-6">
											<a href="{% url 'fillow:email-compose' %}" class="btn btn-primary btn-block col-lg-6">이메일 쓰기</a>
										</div>
										<div class="col-lg-6">
											<a href="{% url 'fillow:email-compose-tpl' %}" class="btn btn-primary btn-block">템플릿 작성</a>
										</div>
									</div>
									<div class="mail-list rounded mt-4">
										{% if unread_email_count > 0 %}
											<a href="{% url 'fillow:email_list' %}" class="list-group-item" id="inbox">
												<i class="fa fa-inbox font-18 align-middle me-2"></i>받은 이메일<span
												class="badge badge-danger text-white badge-sm float-end">{{ unread_email_count }}</span>
											</a>
										{% else %}
											<a href="{% url 'fillow:email_list' %}" class="list-group-item" id="inbox">
												<i class="fa fa-inbox font-18 align-middle me-2"></i>받은 이메일
											</a>
										{% endif %}
										<a href="{% url 'fillow:email-sent' %}" class="list-group-item"><i
											class="fa fa-inbox font-18 align-middle me-2"></i>보낸 이메일</a>

										<a href="{% url 'fillow:email-list-spam' %}" class="list-group-item active"><i
											class="fa fa-inbox font-18 align-middle me-2"></i>스팸</a>

										<a href="{% url 'fillow:email-list-trash' %}" class="list-group-item"><i
												class="fa fa-trash font-18 align-middle me-2"></i>휴지통</a>
									</div>
									
								</div>
							</div>
						</div>
						<div class="col-xl-9 dlab-scroll height720">
							<div>
								<div role="toolbar" class="toolbar ms-1 ms-sm-0 ms-xl-1 d-flex align-items-center">

									<div class="email-tools-box">
										<i class="fa-solid fa-list-ul"></i>
									</div>
									<form class="d-none d-sm-block ms-auto" action="{% url 'fillow:email-list-spam' %}">
										<div class="input-group ms-auto w-100 d-sm-inline-flex d-none">
											<input type="text" class="form-control" placeholder="검색" name="search_query">
											<span class="input-group-text"><button class="bg-transparent border-0"><i class="flaticon-381-search-2"></i></button></span>
										</div>
									</form>	
									<div class="btn-group mb-1" style="margin-left: 10px;">
										<a href="{% url 'fillow:email-list-spam' %}" class="btn btn-primary light px-3">
											<i class="ti-reload"></i>
										</a>
									</div>
														
								</div>
        						<div class="email-list mt-3">
									{% for email in object_list %}
										<div class="message">
											<div>
												<div class="d-flex message-single">
													<div class="ms-2 rounded-cat d-flex align-items-center justify-content-center {% if email.read %}read{% endif %} {{ email.category }}">
														<span>{{ email.category }}</span>
													</div>
												</div>
												<a href="{% url 'fillow:email_detail' email.id %}" class="col-mail col-mail-2">
													<div class="subject"><span>{{ email.email_subject }}</span></div>
													<div class="date"><span>{{email.from_name}}&nbsp;&nbsp;&nbsp;{{ email.email_date|date:"Y M d D H:i" }}</span></div>
												</a>
												
											</div>
										</div>
									{% endfor %}

									{% if page_obj.paginator.num_pages > 1 %}
										<div class="row mt-4">
											<div class="col-12 ps-3">
												<nav>
													<ul class="pagination pagination-gutter pagination-primary pagination-sm no-bg justify-content-center justify-content-xl-start">
														{% if page_obj.has_previous %}
															<li class="page-item page-indicator"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="la la-angle-left"></i></a></li>
														{% endif %}
														{% for num in page_obj.paginator.page_range %}
															<li class="page-item {% if page_obj.number == num %}active{% endif %}"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
														{% endfor %}
														{% if page_obj.has_next %}
															<li class="page-item page-indicator"><a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="la la-angle-right"></i></a></li>
														{% endif %}
													</ul>
												</nav>
											</div>
										</div>
									{% endif %}
									
								</div>
							</div>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
	</div>

</div>
</div>
{% endblock %}