{% extends 'fillow/elements/layouts/admin.html' %}
{% load static %}
        
{% block additional_css %}
<style>
	.category {
		color: #fff !important;
	}

	#cat1 {
		background-color: #ffa7d7;
	}

	#cat2 {
		background-color: #312a2a;
	}

	#cat3 {
		background-color: #d653c1;
	}

	#cat4 {
		background-color: #ffdc00;
	}

	#cat5 {
		background-color: #fc2e53;
	}

	#cat6 {
		background-color: #ffbf00;
	}

	#cat7 {
		background-color: #09bd3c;
	}

	#cat8 {
		background-color: #15c08c;
	}

	#cat9 {
		background-color: #c8c8c8;
	}
</style>
{% endblock %}
        
{% block content %}
<!--**********************************
    Content body start
***********************************-->
<div class="content-body default-height">
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">이메일</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">자세히</a></li>
            </ol>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-3">
                                <div class="email-left-body email-left-box ">
                                    <div class="mb-3 mt-4 mt-sm-0">
                                        <div class="p-0 row">
                                            <div class="col-lg-6">
                                                <a href="{% url 'fillow:email-compose' %}" class="btn btn-primary btn-block col-lg-6">이메일 쓰기</a>
                                            </div>
                                            <div class="col-lg-6">
                                                <a href="{% url 'fillow:email-compose-tpl' %}" class="btn btn-primary btn-block">템플릿 작성</a>
                                            </div>
                                        </div>
                                        <div class="mail-list rounded mt-4">
                                            {% if unread_email_count > 0 %}
                                                <a href="{% url 'fillow:email_list' %}" class="list-group-item" id="inbox">
                                                    <i class="fa fa-inbox font-18 align-middle me-2"></i>받은 이메일<span
                                                    class="badge badge-danger text-white badge-sm float-end">{{ unread_email_count }}</span>
                                                </a>
                                            {% else %}
                                                <a href="{% url 'fillow:email_list' %}" class="list-group-item" id="inbox">
                                                    <i class="fa fa-inbox font-18 align-middle me-2"></i>받은 이메일
                                                </a>
                                            {% endif %}
                                            <a href="{% url 'fillow:email-sent' %}" class="list-group-item"><i
                                                class="fa fa-inbox font-18 align-middle me-2"></i>보낸 이메일</a>
    
                                            <a href="{% url 'fillow:email-list-trash' %}" class="list-group-item"><i
                                                    class="fa fa-trash font-18 align-middle me-2"></i>휴지통</a>
                                        </div>
                                        <div class="mail-list rounded overflow-hidden">
                                            <div class="intro-title d-flex justify-content-between mt-0">
                                                <h5>카테고리</h5>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <a href="{% url 'fillow:email_list' %}?category=결재승인" id="cat1" class="list-group-item category"><span class="icon-warning"><i
                                                        class="fa fa-circle" aria-hidden="true"></i></span>
                                                    결재승인 </a>
                                                </div>
                                                <div class="col-lg-6">
                                                    <a href="{% url 'fillow:email_list' %}?category=휴가" id="cat2" class="list-group-item category"><span class="icon-primary"><i
                                                        class="fa fa-circle" aria-hidden="true"></i></span>
                                                    휴가 </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <a href="{% url 'fillow:email_list' %}?category=진행업무" id="cat3"  class="list-group-item category"><span class="icon-warning"><i
                                                        class="fa fa-circle" aria-hidden="true"></i></span>
                                                    진행업무 </a>
                                                </div>
                                                <div class="col-lg-6">
                                                    <a href="{% url 'fillow:email_list' %}?category=회의" id="cat4"  class="list-group-item category"><span class="icon-primary"><i
                                                        class="fa fa-circle" aria-hidden="true"></i></span>
                                                    회의 </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <a href="{% url 'fillow:email_list' %}?category=보고" id="cat5"  class="list-group-item category"><span class="icon-warning"><i
                                                        class="fa fa-circle" aria-hidden="true"></i></span>
                                                    보고 </a>
                                                </div>
                                                <div class="col-lg-6">
                                                    <a href="{% url 'fillow:email_list' %}?category=스크랩" id="cat6"  class="list-group-item category"><span class="icon-primary"><i
                                                        class="fa fa-circle" aria-hidden="true"></i></span>
                                                    스크랩 </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <a href="{% url 'fillow:email_list' %}?category=공지" id="cat7"  class="list-group-item category"><span class="icon-warning"><i
                                                        class="fa fa-circle" aria-hidden="true"></i></span>
                                                    공지 </a>
                                                </div>
                                                <div class="col-lg-6">
                                                    <a href="{% url 'fillow:email_list' %}?category=감사인사" id="cat8"  class="list-group-item category"><span class="icon-primary"><i
                                                        class="fa fa-circle" aria-hidden="true"></i></span>
                                                    감사인사 </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <a href="{% url 'fillow:email_list' %}?category=기타" id="cat9"  class="list-group-item category"><span class="icon-warning"><i
                                                        class="fa fa-circle" aria-hidden="true"></i></span>
                                                    기타 </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-9 col-xxl-8">
                                <div>
                                    
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="right-box-padding">
                                                <div class="toolbar mb-4" role="toolbar">
                                                    <div class="btn-group mb-1">
                                                        {% if email.trash == False %}
                                                        <button type="button" class="btn btn-primary light px-3" onclick="window.location.href='{% url 'fillow:email-reply' email.pk %}'">
                                                            <i class="fa fa-reply"></i>
                                                        </button>
                                                        
                                                        
                                                        <button type="button" class="btn btn-primary light px-3" data-bs-toggle="modal" data-bs-target="#trashModal">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                        <div class="modal fade" id="trashModal" tabindex="-1" aria-labelledby="trashModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="trashModalLabel">휴지통으로 이동</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        이 이메일을 휴지통으로 이동하시겠습니까?
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                                                        <a href="{% url 'fillow:email-trash' email.pk %}" class="btn btn-primary">이동</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% else %}
                                                        <button type="button" class="btn btn-primary light px-3" data-bs-toggle="modal" data-bs-target="#trashModal">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                        <div class="modal fade" id="trashModal" tabindex="-1" aria-labelledby="trashModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="trashModalLabel">이메일 삭제</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        이 이메일을 영구적으로 삭제하겠습니까?
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                                                        <a href="{% url 'fillow:email-delete' email.pk %}" class="btn btn-primary">삭제</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endif %}
                                                        
                                                    </div>
                                                    {% if email.trash == False %}
                                                        <div class="btn-group mb-1">
                                                            <button type="button" class="btn btn-primary light dropdown-toggle px-3" data-bs-toggle="dropdown">
                                                                <i class="fa fa-folder"></i> <b class="caret m-l-5"></b>
                                                            </button>
                                                            <div class="dropdown-menu"> 
                                                                <!-- '결제승인' 카테고리 변경 버튼 -->
                                                                <a class="dropdown-item" href="javascript:void(0);" onclick="openCategoryModal('categoryModal1')">결제승인</a>
                                                                <a class="dropdown-item" href="javascript:void(0);" onclick="openCategoryModal('categoryModal2')">휴가</a>
                                                                <a class="dropdown-item" href="javascript:void(0);" onclick="openCategoryModal('categoryModal3')">진행업무</a>
                                                                <a class="dropdown-item" href="javascript:void(0);" onclick="openCategoryModal('categoryModal4')">회의</a>
                                                                <a class="dropdown-item" href="javascript:void(0);" onclick="openCategoryModal('categoryModal5')">보고</a>
                                                                <a class="dropdown-item" href="javascript:void(0);" onclick="openCategoryModal('categoryModal6')">스크랩</a>
                                                                <a class="dropdown-item" href="javascript:void(0);" onclick="openCategoryModal('categoryModal7')">공지</a>
                                                                <a class="dropdown-item" href="javascript:void(0);" onclick="openCategoryModal('categoryModal8')">감사인사</a>
                                                                <a class="dropdown-item" href="javascript:void(0);" onclick="openCategoryModal('categoryModal9')">기타</a>
                                                            </div>
                                                        </div>
                                                        
                                                        <!-- '결제승인' 카테고리 변경 모달 창 -->
                                                        <div class="modal fade" id="categoryModal1" tabindex="-1" aria-labelledby="categoryModalLabel1" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="categoryModalLabel1">카테고리 변경</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        이 이메일을 '결제승인' 카테고리로 변경하시겠습니까?
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                                                        <a href="{% url 'fillow:change-category' email.pk '결제승인' %}" class="btn btn-primary">변경</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- 휴가 카테고리 변경 모달 창 -->
                                                        <div class="modal fade" id="categoryModal2" tabindex="-1" aria-labelledby="categoryModalLabelVacation" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="categoryModalLabelVacation">카테고리 변경</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        이 이메일을 '휴가' 카테고리로 변경하시겠습니까?
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                                                        <a href="{% url 'fillow:change-category' email.pk '휴가' %}" class="btn btn-primary">변경</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- 진행업무 카테고리 변경 모달 창 -->
                                                        <div class="modal fade" id="categoryModal3" tabindex="-1" aria-labelledby="categoryModalLabelTask" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="categoryModalLabelTask">카테고리 변경</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        이 이메일을 '진행업무' 카테고리로 변경하시겠습니까?
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                                                        <a href="{% url 'fillow:change-category' email.pk '진행업무' %}" class="btn btn-primary">변경</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- 회의 카테고리 변경 모달 창 -->
                                                        <div class="modal fade" id="categoryModal4" tabindex="-1" aria-labelledby="categoryModalLabelMeeting" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="categoryModalLabelMeeting">카테고리 변경</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        이 이메일을 '회의' 카테고리로 변경하시겠습니까?
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                                                        <a href="{% url 'fillow:change-category' email.pk '회의' %}" class="btn btn-primary">변경</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- 보고 카테고리 변경 모달 창 -->
                                                        <div class="modal fade" id="categoryModal5" tabindex="-1" aria-labelledby="categoryModalLabelReport" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="categoryModalLabelReport">카테고리 변경</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        이 이메일을 '보고' 카테고리로 변경하시겠습니까?
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                                                        <a href="{% url 'fillow:change-category' email.pk '보고' %}" class="btn btn-primary">변경</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- 스크랩 카테고리 변경 모달 창 -->
                                                        <div class="modal fade" id="categoryModal6" tabindex="-1" aria-labelledby="categoryModalLabelScrap" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="categoryModalLabelScrap">카테고리 변경</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        이 이메일을 '스크랩' 카테고리로 변경하시겠습니까?
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                                                        <a href="{% url 'fillow:change-category' email.pk '스크랩' %}" class="btn btn-primary">변경</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- 공지 카테고리 변경 모달 창 -->
                                                        <div class="modal fade" id="categoryModal7" tabindex="-1" aria-labelledby="categoryModalLabelNotice" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="categoryModalLabelNotice">카테고리 변경</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        이 이메일을 '공지' 카테고리로 변경하시겠습니까?
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                                                        <a href="{% url 'fillow:change-category' email.pk '공지' %}" class="btn btn-primary">변경</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- 감사인사 카테고리 변경 모달 창 -->
                                                        <div class="modal fade" id="categoryModal8" tabindex="-1" aria-labelledby="categoryModalLabelThanks" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="categoryModalLabelThanks">카테고리 변경</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        이 이메일을 '감사인사' 카테고리로 변경하시겠습니까?
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                                                        <a href="{% url 'fillow:change-category' email.pk '감사인사' %}" class="btn btn-primary">변경</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- 기타 카테고리 변경 모달 창 -->
                                                        <div class="modal fade" id="categoryModal9" tabindex="-1" aria-labelledby="categoryModalLabelOther" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="categoryModalLabelOther">카테고리 변경</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        이 이메일을 '기타' 카테고리로 변경하시겠습니까?
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                                                        <a href="{% url 'fillow:change-category' email.pk '기타' %}" class="btn btn-primary">변경</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        
                                                        <script>
                                                            function openCategoryModal(modalId) {
                                                                var myModal = new bootstrap.Modal(document.getElementById(modalId));
                                                                myModal.show();
                                                            }
                                                        </script>
                                                    {% else %}
                                                    {% endif %}
                                                    <div class="btn-group mb-1">
                                                        <div class="dropdown-menu"> <a class="dropdown-item" href="javascript: void(0);">Mark as Unread</a> <a class="dropdown-item" href="javascript: void(0);">Add to Tasks</a>
                                                            <a class="dropdown-item" href="javascript: void(0);">Add Star</a> <a class="dropdown-item" href="javascript: void(0);">Mute</a>
                                                        </div>
                                                    </div>
                                                    <div class="email-tools-box float-end">
                                                        <i class="fa-solid fa-list-ul"></i>
                                                    </div>
                                                </div>
                                                <div class="read-content">
                                                    <div class="media pt-3 d-sm-flex d-block justify-content-between">
                                                        <div class="clearfix mb-3 d-flex">
                                                            {% if request.user.is_authenticated %}
                                                                {% if email.img %}
                                                                    <img class="me-3 rounded" width="70" height="70" alt="image" src="/media/{{ email.img }}">
                                                                {% else %}
                                                                    <img class="me-3 rounded" width="70" height="70" alt="image" src="{% static 'fillow/images/profile/profile_basic.jpeg' %}">
                                                                {% endif %}
                                                            {% else %}
                                                                <a href='{% url "fillow:page-login" %}'>로그인</a>
                                                            {% endif %}
                                                            <div class="media-body me-2">
                                                                <h5 class="text-primary mb-0 mt-1">{{ email.email_from }}</h5>
                                                                <p class="mb-0">{{ email.email_date|date:"Y M d D H:i" }}</p>
                                                                <p class="mb-0">{{ email.category }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="media mb-2 mt-3">
                                                        <div class="media-body">
                                                            <h5 class="my-1 text-primary"> {{ email.email_subject }}</h5>
                                                            <p class="read-content-email">
                                                                To: {{ email.email_to }}</p>
                                                            <p class="read-content-email">
                                                                Cc: {{ email.email_cc }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="read-content-body default-height">
                                                        {{ email.email_text_content|linebreaksbr }}
                                                        <hr>
                                                    </div>
                                                    <hr>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--**********************************
    Content body end
***********************************-->
{% endblock %}

{% block additional_js %}
<script>
        // Initialize tooltips (if not automatically done by Bootstrap 5)
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    });
</script>
{% endblock %}