{% load static %}
<div class="header">
	<div class="header-content">
		<nav class="navbar navbar-expand">
			<div class="collapse navbar-collapse justify-content-between">
				<div class="header-left">
					<div class="dashboard_bar">
						{{page_title}}
					</div>
				</div>
				<ul class="navbar-nav header-right">
					<!-- 라이트/다크 변경 버튼 -->
					<li class="nav-item dropdown notification_dropdown">
						<a class="nav-link bell dz-theme-mode" href="javascript:void(0);">
							<i id="icon-light" class="fas fa-sun"></i>
							<i id="icon-dark" class="fas fa-moon"></i>
							
						</a>
					</li>
					<!--사용자 인사 문구-->
					<li class="nav-item dropdown">
						<div style="color:white">{{request.user.last_name}}*{{masking_name}}님, 안녕하세요!</div>
					</li>
					<!-- 내 정보 -->
					<li class="nav-item dropdown  header-profile">
						<a class="nav-link" href="javascript:void(0);" role="button" data-bs-toggle="dropdown">
							{% if request.user.is_authenticated %}
								{% if img %}
									<img src="/media/{{img}}" width="56" alt="">
								{% else %}
									<img src="{% static 'fillow/images/profile/profile_basic.jpeg' %}" width="56" alt="">
								{% endif %}
							{% else %}
								<a href='{% url "fillow:page-login" %}'>로그인</a>
							{% endif %}
						</a>
						<div class="dropdown-menu dropdown-menu-end">
							<a href="{% url 'fillow:check-password' %}" class="dropdown-item ai-icon">
								<i class="fa-solid fa-user"></i>
								<span class="ms-2">내 정보</span>
							</a>
							<a href="{% url 'fillow:page-logout' %}" class="dropdown-item ai-icon">
								<i class="fa-solid fa-right-to-bracket"></i>
								<span class="ms-2">로그아웃</span>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>