{% load static %}
<div class="nav-header">
    <a href="{% url 'fillow:index' %}" class="brand-logo">
        <img src="{% static 'fillow/images/logo.svg' %}" alt="SVG Image" width="55" height="55">
        <div class="brand-title">
            <img src="{% static 'fillow/images/text.svg' %}" alt="SVG Image">
        </div>
    </a>
    <div class="nav-control">
        <div class="hamburger">
            <span class="line"></span><span class="line"></span><span class="line"></span>
        </div>
    </div>
</div>