{% load static %}
<div class="dlabnav">
    <div class="dlabnav-scroll">
        <ul class="metismenu" id="menu">

            <!-- 이메일 -->
            <li>
                <a class="has-arrow " href="javascript:void()" aria-expanded="false">
                    <i class="fa-solid fa-envelope"></i>
                    <span class="nav-text">이메일</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'fillow:upload_file' %}">이메일 업로드 </a></li>	
                    <li><a href="{% url 'fillow:email_list' %}">받은 이메일</a></li>
                    <li><a href="{% url 'fillow:email-sent' %}">보낸 이메일</a></li>
                    <li><a href="{% url 'fillow:email-compose-tpl' %}">메일 템플릿</a></li>
                    <li><a href="{% url 'fillow:email-compose' %}">메일 보내기</a></li>
                </ul>
            </li>

            <!-- 일정 관리 -->
            <li><a href="{% url 'fillow:schedule' %}" aria-expanded="false">
                <i class="fas fa-user"></i>
                <span class="nav-text">일정 관리</span>
                </a>
            </li>

            <!-- 고객 센터 -->
            <li>
                <a class="has-arrow " href="javascript:void()" aria-expanded="false">
                    <i class="fa-solid fa-headset"></i>
                    <span class="nav-text">고객 센터</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'fillow:faq' %}">FAQ</a></li>
                    <li><a href="{% url 'fillow:qna' %}">Q&A</a></li>
                </ul>
            </li>
        </ul>
        
        <div class="copyright">
            <p>HyeopJaeSea © 2023 All Rights Reserved</p>
            <p class="fs-12">Made with <span class="heart"></span> by Aivengers</p>
        </div>
    </div>
</div>