{% extends 'fillow/elements/layouts/home.html'%}
{% load static %}
        
{% block additional_css %}
<style>
    .btn-margin-adjust {
        margin-right: 2rem;
    }

    .home {
        padding-top: 0.5rem !important;
    }

    .background {
        background-image: url("{% static 'fillow/images/background.png'%}");
        background-size: cover;
        background-position: center top;
        height: 80vh;
        color: black;
        text-align: center;
        animation: moveBackground 30s ease-in-out infinite;
        margin-top: 3rem !important;
    }

    [data-theme-version=dark] .background {
        background-image: url("{% static 'fillow/images/background_dark.png'%}");
    }

    [data-theme-version=dark] .background img {
        content: url("{% static 'fillow/images/logofull_dark.svg' %}")
    }

    .background img {
        display: block;
        margin: 0 auto; 
    }

    @keyframes moveBackground {
        0% {
            background-position: center bottom;
        }
        50% {
            background-position: center top;
        }
        100% {
            background-position: center bottom;
        }
    }  
   
    .landing-wording {
        text-align: left; /* 텍스트를 왼쪽으로 정렬 */
        padding-top : 3rem ;
        padding-left: 12rem; 
    }

    .landing-wording strong {
        color: #007bff; /* 강조할 텍스트의 색상을 변경합니다. */
        font-weight: bold; /* 글씨를 두껍게 합니다. */
    }

    
    /* 중간 크기의 화면 (태블릿)에 대한 스타일 */
    @media (min-width: 768px) {
        .landing-wording {
            padding-top : 2rem ;
            padding-left: 8rem;  /* 화면이 768픽셀 이상일 때 적용되는 패딩 값 */
        }
    }
    
    /* 큰 화면 (데스크톱)에 대한 스타일 */
    @media (min-width: 992px) {
        .landing-wording {
            padding-top : 2.5rem ;
            padding-left: 10rem;  /* 화면이 992픽셀 이상일 때 적용되는 패딩 값 */
        }
    }
    
    /* 매우 큰 화면에 대한 스타일 */
    @media (min-width: 1200px) {
        .landing-wording {
            padding-top : 3rem ;
            padding-left: 12rem; /* 화면이 1200픽셀 이상일 때 적용되는 패딩 값 */
        }
    }
    
</style>
{% endblock %}

{% block content %}
<!--**********************************
    Content body start
***********************************-->

<div class="content-body default-height home">
    <div class="container-fluid">
        <div class="background card">
            <div>
                <img id="logo" src="{% static 'fillow/images/logofull.svg' %}" alt="HyeopjaeSea" width="200" height="200">
                <div>
                    <button type="button" class="btn btn-rounded btn-primary"><span
                        class="btn-icon-start text-primary"><i class="fa-solid fa-house"></i>
                    </span>Home</button>
                    <button type="button" class="btn btn-rounded btn-info"><span
                        class="btn-icon-start text-info"><i class="fa-solid fa-circle-info"></i>
                    </span>About</button>
                    <button type="button" class="btn btn-rounded btn-danger"><span
                        class="btn-icon-start text-danger"><i class="fa-solid fa-envelope"></i>
                    </span>Contact</button>
                </div>                
            </div>
            <div class="col-md-6 text-left">
                <div class="landing-wording text-left">
                    <h3 class="text-left">휴가 갔다오면 쌓여 있는 이메일..!!!
                        <br> 생각만해도 머리아프다 😭</h3>                    
                    <h4>쌓여있는 이메일을 AI기술을 통해 분류해주는 <strong>협재씨</strong>서비스를 사용해보세요!<br>
                        사용자 데이터기반으로 답장이 필요하거나 중요도 높은 이메일을 분류해주어<br>
                        여러분이 정말로 중요한 일에만 집중할 수 있도록 도와드리겠습니다!<br><br>자 그럼, Mail 쏟아지는 이메일 홍수 속에서 <br> 중요한 이메일만 남은 에메랄드 빛 <strong>HyeopJaeSea</strong>로 가볼까요?</h4>
                </div>
                <button type="button"  class="btn btn-primary btn-margin-adjust" onclick="location.href='{% url 'fillow:page-login' %}'" >로그인</button>
                <button type="button" class="btn btn-warning" onclick="location.href='{% url 'fillow:page-register' %}'">회원가입</button>
            </div>
            
        </div>
    </div>
</div>


<!--**********************************
    Content body end
***********************************-->
{% endblock %}