{% extends 'fillow/elements/layouts/admin.html' %}
{% load static %}
        
{% block additional_css %}
<style>
    .fc-header-toolbar {
        padding: 5px;
    }
</style>
{% endblock %}
        
{% block content %}
<!--**********************************
    Content body start
***********************************-->
<div class="content-body default-height">
    <div class="container-fluid">
        
        <!-- <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">일정 관리</a></li>
            </ol>
        </div> -->
        <!-- row -->

        <div class="row">
            <div class="col-xl-3 col-xxl-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-intro-title">일정 관리</h4>

                        <div class="">
                            <div id="external-events" class="my-3">
                                <p>AI가 자동으로 생성한 일정입니다.</p>
                                <p>드래그 앤 드롭하여 배치하세요.</p>
                                <p>직접 일정을 추가하기 위해 달력의 날짜를 클릭하세요.</p>
                                <!-- 1 단위 -->
                                <div class="external-event btn-primary light" data-class="bg-primary"><i class="fa fa-move"></i><span>배치 테스트</span></div>
                                <!-- 1 단위 끝 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-xxl-8">
                <div class="card">
                    <div class="card-body">
                        <div id="calendar" class="app-fullcalendar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--**********************************
    Content body end
***********************************-->
<script src="{% static 'fillow/vendor/jquery/jquery.min.js' %}"></script>
<script>
    "use strict"

    function fullCalender() {
        // DB 업데이트
        var updateDB = function(arg) {
            console.log(arg)
        }

        var scheduleList = {{ schedule_data | safe }};

        /* 드래그 앤 드롭 초기화
        -----------------------------------------------------------------*/
        var containerEl = document.getElementById('external-events');
		new FullCalendar.Draggable(containerEl, {
		    itemSelector: '.external-event',
		    eventData: function(eventEl) {
			    return {
			        title: eventEl.innerText.trim()
			    }
		    }
		});
        /* 달력 생성
        -----------------------------------------------------------------*/
        var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                height: '100%',
                locale: 'kr',
                headerToolbar: {
                    left: 'prev',
                    center: 'title',
                    right: 'next',
                },

                selectable: true,
                editable: true,

                // 날짜 클릭 시
                select: function (arg) {
                    Swal.fire({
                        html: "<div class='mb-5'>새로운 일정 추가하기</div><input type='text' class='form-control' id='swal-title' />",
                        icon: "info",
                        showCancelButton: true,
                        confirmButtonText: "추가",
                        cancelButtonText: "뒤로",
                        confirmButtonColor: '#fc2e53',
                        cancelButtonColor: '#15c08c',
                        preConfirm: function () {
                            var title = document.getElementById('swal-title').value;
                            if (!title) {
                                Swal.showValidationMessage('일정 제목을 입력해주세요.');
                            }
                            return title;
                        }
                    }).then(function (result) {
                        if (result.isConfirmed) {
                            calendar.addEvent({
                                title: result['value'],
                                start: arg.start,
                                end: arg.end,
                                allDay: arg.allDay
                            })
                            calendar.unselect()
                        }
                    });
                },

                // 일정 추가시
                eventAdd: function (arg) {
                    updateDB(arg);
                },

                // 일정 변경 시
                eventChange: function (arg) {
                    updateDB(arg);
                },

                // 일정 제거 시
                eventRemove: function (arg) {
                    updateDB(arg);
                },

                // 일정 드래그 앤 드롭 시
                // eventDrop: function(obj) {
                // },
                
                // 클릭 시
                eventClick: function (arg) {
                    Swal.fire({
                        text: "이 일정을 삭제하시겠습니까?",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonText: "삭제",
                        cancelButtonText: "뒤로",
                        confirmButtonColor: '#fc2e53',
                        cancelButtonColor: '#15c08c',
                    }).then(function (result) {
                        if (result.value) {
                            arg.event.remove()
                        }
                    });
                },

                // 외부에서 드래그 앤 드롭
                eventReceive: function (arg) {
                    // 목록에서 삭제하기
                    arg.draggedEl.parentNode.removeChild(arg.draggedEl);
                },
                
                // 이벤트 목록
                events: scheduleList,

                // 달력에서 '일' 제거
                dayCellContent: function (info) {
                    var number = document.createElement('a');
                    number.classList.add('fc-daygrid-day-number');
                    number.innerHTML = info.dayNumberText.replace('일', '')
                    if (info.view.type == 'dayGridMonth') {
                        return {
                            html: number.outerHTML
                        };
                    }
                    return {
                        domNodes: []
                    }
                }
            });
            calendar.render();
    }

    jQuery(window).on('load', function() {
        setTimeout(function() {
            fullCalender();
        }, 1000);
    });
</script>
{% endblock %}

