{% extends 'fillow/elements/layouts/admin.html' %}
{% load static %}
        
{% block additional_css %}
<style>
    .fc-header-toolbar {
        padding: 5px;
    }

    .save-discard {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    [data-theme-version=dark] .fc-daygrid-event {
        background: #094f3a;
    }

    [data-theme-version=dark] .swal2-html-container {
        color: #fff;
    }

    .감사인사 {
        background-color: #d653c1 !important;
    }

    .결재승인 {
        background-color: #fc2e53 !important;
    }

    .공지 {
        background-color: #6238fc !important;
    }

    .보고 {
        background-color: #369fc2 !important;
    }

    .스크랩 {
        background-color: #ffa7d7 !important;
    }

    .진행업무 {
        background-color: #09bd3c !important;
    }

    .회의 {
        background-color: #128a7e !important;
    }

    .휴가 {
        background-color: #ffbf00 !important;
    }

    .기타 {
        background-color: #c8c8c8 !important;
    }

    [data-theme-version=dark] .swal2-title {
        color: #fff;
    }

    .swal2-input {
        font-size: 14px;
        width: 350px;
    }

    .schedule-title {
        color: white;
    }
    

    [data-theme-version=dark] .end-date {
        background-color: #15c08c !important;
    }

</style>
{% endblock %}
        
{% block content %}
<!--**********************************
    Content body start
***********************************-->
<div class="content-body default-height">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-xxl-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-intro-title">일정 관리</h4>

                        <div class="">
                            <div id="external-events" class="my-3">
                                <p>🤖AI가 자동으로 회신 기한을 분석하여 일정에 추가합니다.</p>
                                <p>📧회신이 필요하지만 회신 기한을 알아내지 못한 일정은 아래에<br>추가됩니다.
                                <br>아래 표시된 일정은 사용자가 직접 🖱️Drag&Drop🖱️ 하여 추가할 수 있습니다.</p>
                                <p>📅직접 일정을 추가하기 위해 달력의 날짜를 클릭하세요.</p>
                                {% for schedule in not_in_calendar %}
                                    <div class="external-event btn-primary light {{ schedule.category }}" category="{{ schedule.category }}" pk="{{ schedule.pk }}"><i class="fa fa-move"></i><span class="schedule-title" >{{ schedule.title }}</span></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer save-discard">
                        <button type="button" class="btn btn-primary" id="save" data-bs-toggle="modal" data-bs-target="#saveModal">저장하기</button>
                        <button type="button" class="btn btn-danger" id="reset" data-bs-toggle="modal" data-bs-target="#resetModal">초기화</button>
                    </div>
                    <div class="modal fade" role="dialog" aria-hidden="true" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">변경사항을 저장하시겠습니까?</h5>
                                </div>
                                <div class="modal-footer">
                                    {% csrf_token %}
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="save-db">저장하기</button>
                                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">뒤로</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" role="dialog" aria-hidden="true" id="resetModal" data-bs-backdrop="static" data-bs-keyboard="false">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">변경사항이 전부 초기화됩니다.</h5>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="reset-db">초기화</button>
                                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">뒤로</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-xxl-8">
                <div class="card">
                    <div class="card-body">
                        <div id="calendar" class="app-fullcalendar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--**********************************
    Content body end
***********************************-->
{% endblock %}

{% block additional_js %}
<script>
    "use strict"
    // 일정 데이터 받아오기
    var scheduleList = {{ in_calendar | safe }};
    var notInCalendar = {{ not_in_calendar | safe }};
</script>
{% endblock %}

